<div class="profile-container">
  <div class="profile-header">
    <img class="profile-pic-main" src="{{user.avatar_url}}"/>
    {{#if user.display_name}}
      <h1>{{user.display_name}}</h1>
      <!-- <p class="in-profile-edit">Edit</p> -->
    {{else}}
      <h1>{{user.email}}</h1>
    {{/if}}

    {{#if user.summary}}
      <p class="summary">{{user.summary}}</p>
    {{/if}}

  </div>
  {{> bar-contents/another_bar}}

    {{> hero/another_hero_view}}

    <div class="line-container">
      <div class="header-line"></div>
      <h3>Videos</h3>
      <div class="header-line"></div>
    </div>
  {{#if user.videos}}
      <div class="video-view">
    {{#each user.videos as |video|}}
    <div class="video-container">
    <h5 data-id="{{video.id}}">{{video.title}}</h5>
    <div class="video-wrapper">
    <iframe width="560" height="340" data-id="{{video.id}}" src="{{video.url}}"></iframe>
  </div>
  </div>
    </br>
    {{/each}}
  {{else}}
      <p>This user doesn't have any VODs yet.</p>
  {{/if}}
</div>
</div>
