<div class="profile-container container">
  <img class="profile-pic-main" src={{user.avatar_url}}>

  {{#if user.display_name}}
    <h1 class="editable edit-display-name">{{user.display_name}}</h1>
    <!-- <p class="in-profile-edit">Edit</p> -->
  {{else}}
    <h1>{{user.email}}</h1>
    <p class="in-profile-edit edit-display-name">Add Display Name</p>
  {{/if}}
  {{> modal_displayname}}

  {{#if user.summary}}
    <p class="editable edit-summary">{{user.summary}}</p>
    <!-- <p class="in-profile-edit">Edit</p> -->
  {{else}}
    <p class="in-profile-edit edit-summary">Add Summary</p>
  {{/if}}
  {{> modal_summary}}

  {{#if user.is_mentor}}
    <p class="editable edit-mentor">Mentor</p>
  {{else}}
    <p class="editable edit-mentor">Up for Adoption</p>
  {{/if}}
  <!-- <p class="in-profile-edit">Edit</p> -->
  <!-- {{> modal_summary}} -->

  {{#if user.platform}}
    <p class="editable">Platform: <span class="edit-platform">{{user.platform}}</span></p>
    <!-- <p class="in-profile-edit">Edit</p> -->
  {{else}}
    <p class="in-profile-edit edit-platform">Add Platform</p>
  {{/if}}
  {{> modal_platform}}

  {{#if user.region}}
    <p class="editable">Region: <span class="edit-region">{{user.region}}</span></p>
    <!-- <p class="in-profile-edit">Edit</p> -->
  {{else}}
    <p class="in-profile-edit edit-region">Add Region</p>
  {{/if}}
  {{> modal_region}}


  {{#if user.skill_rating}}
    <p class="editable">Skill Rating: <span class="edit-skill-rating">{{user.skill_rating}}</span></p>
    <!-- <p class="in-profile-edit">Edit</p> -->
  {{else}}
    <p class="in-profile-edit edit-skill-rating">Add Skill Rating</p>
  {{/if}}

  {{#if user.heros}}
    <h2>Heroes:</h2>
    <p class="editable add-hero-option">Add New Hero</p>
    <div class="hero-icon-container">
    {{#each user.heros as |heroes|}}
    <div class="hover-prompt">
    <!-- <div class="played-hero-tooltip">X</div> -->
    <img class="hero-profile-icon" data-id="{{getJoinId heroes.id arr=thing}}" src={{grabImage id}}>
    <!-- <img class="hero-profile-icon" src={{grabImage id}}> -->
  </div>
    {{/each}}
  </div>
  {{else}}
    <p class="editable edit-heroes">Add Heroes</p>
  {{/if}}

  {{#if user.videos}}
    </br>
    <h2>Videos:</h2>
    <p class="editable add-video-option">Add New Video</p>
    {{#each user.videos as |video|}}
    </br>
    <h5 class="editable edit-video" data-id="{{video.id}}">{{video.title}}</h5>
    <iframe width="420" height="345" data-id="{{video.id}}" src={{grabVideoUrl video.url}}></iframe>
    </br>
    {{/each}}
  {{else}}
      <p class="editable add-video-option">Add New Video</p>
  {{/if}}
</div>
{{> modal_delete_hero}}
{{> hero/modal_add_hero}}
{{> video/modal_video}}
{{> video/modal_edit_video}}
{{> video/modal_delete_video}}
{{> video/modal_add_video}}
