<div class="container">
  {{#groupEach 3 users}}
    <div class="row">
      {{#each this}}
          <section data-id="{{id}}" class="profile-card">
            {{#if avatar_url}}
              <img class="profile-pic" data-id="{{id}}" src="{{avatar_url}}">
            {{else}}
                <img class="profile-pic" data-id="{{id}}" src="https://pbs.twimg.com/media/DEYvBMSVYAAiTnF.png">
            {{/if}}
              {{#if display_name}}
                <h3 data-id="{{id}}">{{display_name}}</h3>
              {{else}}
                <h3 data-id="{{id}}">{{email}}</h3>
              {{/if}}
              {{#if is_mentor}}
                <p class="status">Mentor</p>
              {{else}}
                <p class="status">Mentee</p>
              {{/if}}
            {{#if platform}}
              <h6 class="card-platform" data-id="{{id}}">
                Platform: {{platform}}
              </h6>
            {{/if}}
            <p data-id="{{id}}">
              {{summary}}
            </p>
          </section>
      {{/each}}
    </div>
  {{/groupEach}}
</div>
