<div class="profile-container">
  <div class="profile-header">
    <img class="editable edit-avatar profile-pic-main pic-edit" src="{{user.avatar_url}}" />
    <span class="editable edit-avatar">&thinsp;✎</span>

    {{#if user.display_name}}
      <div class="edit-container">
        <h1 class="editable edit-display-name">
          {{user.display_name}}</h1>
        <p class="editable edit-display-name pencil">✎</p>
      </div>
      <!-- <p class="editable">Edit</p> -->
    {{else}}
      <h1>{{user.email}}</h1>
      <p class="editable edit-display-name">Add Display Name</p>
    {{/if}}

    {{#if user.summary}}
      <div class="summary-box">
        <p class="editable edit-summary summary">{{user.summary}} <small class="editable edit-summary">✎</small></p>
      </div>
      <!-- <p class="editable">Edit</p> -->
    {{else}}
      <p class="editable edit-summary">Add Summary</p>
    {{/if}}



  </div>
  {{> bar-contents/bar}}

  {{> hero/hero_view}}
  <div class="line-container">
    <div class="header-line"></div>
    <h3>Videos</h3>
    <div class="header-line"></div>
  </div>
  <div class="video-view">
    {{#if user.videos}}
      <p class="editable add-video-option">Add New Video</p>
      {{#each user.videos as |video|}}
        </br>
        <div class="edit-container">
        <h5 class="editable edit-video" data-id="{{video.id}}">{{video.title}}</h5>
        <p class="editable edit-video pencil" data-id="{{video.id}}">&thinsp;✎</p>
      </div>
        <div class="video-wrapper">
          <iframe width="560" height="340" data-id="{{video.id}}" src="{{grabVideoUrl video.url}}"></iframe>
        </div>
        </br>
      {{/each}}
    {{else}}
      <p class="editable add-video-option">Add New Video</p>
    {{/if}}
  </div>
</div>

{{> profile-modals/modal_avatar}}
{{> profile-modals/modal_displayname}}
{{> profile-modals/modal_summary}}
{{> profile-modals/modal_status}}
{{> profile-modals/modal_platform}}
{{> profile-modals/modal_region}}
{{> profile-modals/modal_skill_rating}}

{{> hero/modal_delete_hero}}
{{> hero/modal_add_hero}}
{{> video/modal_video}}
{{> video/modal_edit_video}}
{{> video/modal_delete_video}}
{{> video/modal_add_video}}
