<div class="profile-container">
  <div class="profile-header">
    <img class="profile-pic-main" src="{{user.avatar_url}}"/>
    {{#if user.display_name}}
      <h1 class="editable edit-display-name">{{user.display_name}}</h1>
      <!-- <p class="in-profile-edit">Edit</p> -->
    {{else}}
      <h1>{{user.email}}</h1>
      <p class="in-profile-edit edit-display-name">Add Display Name</p>
    {{/if}}
    {{> profile-modals/modal_displayname}}

    {{#if user.summary}}
      <p class="editable edit-summary summary">{{user.summary}}</p>
      <!-- <p class="in-profile-edit">Edit</p> -->
    {{else}}
      <p class="in-profile-edit edit-summary">Add Summary</p>
    {{/if}}
    {{> profile-modals/modal_summary}}


  </div>
  {{> bar-contents/bar}}

    {{> hero/hero_view}}
    <div class="video-view">
    {{#if user.videos}}
    <p class="editable add-video-option">Add New Video</p>
    {{#each user.videos as |video|}}
    </br>
    <h5 class="editable edit-video" data-id="{{video.id}}">{{video.title}}</h5>
    <div class="video-wrapper">
    <iframe width="560" height="340" data-id="{{video.id}}" src="{{grabVideoUrl video.url}}"></iframe>
  </div>
    </br>
    {{/each}}
  {{else}}
      <p class="editable add-video-option">Add New Video</p>
  {{/if}}
</div>
</div>
{{> hero/modal_delete_hero}}
{{> hero/modal_add_hero}}
{{> video/modal_video}}
{{> video/modal_edit_video}}
{{> video/modal_delete_video}}
{{> video/modal_add_video}}
